# Ignore gradle folder, but keep the wrapper
.gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
build/
out/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.metadata/
*.classpath
*.project
*.settings/

# VS Code files
.vscode/

# Logs
logs/
*.log
debug.log
error.log

# Operating system files
.DS_Store
Thumbs.db
*.swp
*.swo

# Java-related files
*.class
*.jar
*.war
*.ear
*.javadoc

# Spring Boot specific
target/
bin/
hs_err_pid*

# Environment variables & configuration
.env
*.properties
*.yml
*.yaml
!src/main/resources/application.yml
!src/main/resources/application.yaml
!src/main/resources/application.properties
!k8s/*.yaml

# Test reports
test-output/
surefire-reports/


# Temporary files
*.tmp
*.bak
*.~*
